body {
    font-family: 'Josefin Slab', serif;
    font-weight: 400;
}

b {
    font-weight: 900;
}

h1 {
    font-size:  20pt;
    color: #687690;
}

.outline {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
}

.tooltiparctop {
    font-size: 10pt;
    font-weight: 400;

    fill: #687690;
    stroke: #72ADE9;
    stroke-width: 0.1px;
}
.tooltiparcbottom {
    font-size: 8pt;
    font-weight: 400;

    fill: #687690;
    stroke: #72ADE9;
    stroke-width: 0.1px;
}

.node {
    stroke: #72ADE9;
    stroke-width: 0.25px;
}

.link {
    fill: none;
    stroke: #888888;
    stroke-width: 1px;
    stroke-opacity: 0.5;
}

.highlight {
    stroke: red;
    stroke-width: 4px;
    stroke-opacity: 1.0;
}

#viz {
    height: 700px;
}

.ALT {
    stroke: #ED886C;
}

.DEF {
    stroke: #72ADE9;
}
.arctitle {
    font-size: 15pt;
    font-weight: 700;
    fill:  #687690;
    stroke:  #72ADE9;
    stroke-width: 0.1px;
}